#board {
    border:1px solid #ccc; 
    width:400px; 
    height:200px; 
    position:relative; 
    overflow:hidden; b
    ackground:#ddd;
    }
    
.player {
    display:inline-block; 
    background:url(OWWpW.png) no-repeat 0 0; 
    width:31px; 
    height:32px; 
    position:absolute;
    }

#pageNav {
    border:1px dotted #F0E7D5; 
    padding:5px; 
    margin:5px 0 10px 0;
    }
#pageNav li {
    float:left; 
    margin: 0 30px 0 5px;
    }


h3 {
    clear:both;
    }